
*.iml
*.xml
sql_server.bat
.vscode/*
venv/*
DataBase/test.py
DataBase/__pycache__/*
Find equances/1.xlsx
Find equances/2.xlsx
Find equances/3.xlsx
Find equances/4.xlsx
Find equances/text.txt
Find equances/main.py
